
#background-image {
  background-image: url("images/coverage.png");
  width: 100%;
  top: 0;
  left: 0;
  height:100%; 
  opacity: 0.2;
  position: fixed;
  background-size: 100% auto;
  padding: 0;
  margin: 0;
  z-index:0;
}

.change img {
    width:50%;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.change img:hover {
    width:50%;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
